.Homepage{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 500px;
    overflow: hidden;
    background: linear-gradient(rgb(199, 14, 14), black 50%);

    img{
        width: 150px;
        height: 150px;
        margin: 0.4rem;
    }

    .formularys{
        height: 400px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}
